/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 585px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.filters button {
    font-weight: 700;
    font-size: 1.2em;
    color: #1d6154;
    height: 38px;
    border: #1d6154 1px solid;
    border-radius: 60px;
    background-color: #fffef8;
    padding: 10px 15px;
}

button.active {
    color: #fffef8;
    background-color: #1d6154;
}
/**********************Login*******************/

.login {
    width: 379px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
form fieldset label {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 1em;
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form fieldset input {
    height: 51px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    box-shadow: 0px 4px 14px #00000017;
    background-color: white;
}

form button {
    font-weight: 700;
    font-size: 1.2em;
    color: #fffef8;
    height: 38px;
    border: #1d6154 1px solid;
    border-radius: 60px;
    background-color: #1d6154;
    padding: 10px 15px;
    width: 179px;
    margin: auto;
}

.login > button {
    font-weight: 700;
    font-size: 1em;
    border: none;
    background-color: #fffef8;
    text-decoration: underline;
    color: #3d3d3d;
}

.error {
    background-color: #ff6d6a;
    box-shadow: 0px 4px 14px #ff6d6a;
    text-align: center;
    padding: 25px;
    border-radius: 60px;
    display: none;
}

.editonMode {
    width: 100%;
    height: 59px;
    color: white;
    background-color: black;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}

a {
    text-decoration: none;
    color: unset;
}
.edition {
    font-size: 1rem;
    color: black;
    font-weight: normal;
    position: relative;
    left: 30px;
    display: none;
}

/****************Modal*********************/

.modal {
    position: absolute;
    background-color: #000000a4;
    width: 100%;

    height: 480%;
    top: 0;
    left: 0;
}

.modal-delete {
    width: 630px;
    max-height: 688px;
    position: relative;
    top: 660px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-delete h3 {
    font-weight: normal;
    font-size: 2em;
    padding: 36px;
}

.modal-close {
    align-self: flex-end;
    margin-right: 35px;
    margin-top: 32px;
}

.imgGalery {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 9px;
    row-gap: 29px;
    border-bottom: #b3b3b3 1px solid;
    padding-bottom: 50px;
}
.btn-suppr {
    position: relative;
    top: -100px;
    left: 55px;
    border: black;
    background-color: black;
    height: 17px;
    width: 17px;
    border-radius: 2px;
    padding: 0;
}

.imgGalery > div > button > img {
    width: 10px;
    height: 10px;
}

.imgGalery img {
    object-fit: contain;
    height: 102px;
    width: 76px;
}

.modal-delete > button {
    font-family: "Syne";
    font-weight: 700;
    font-size: 1em;
    color: #fffef8;
    height: 36px;
    width: 237px;
    border: #1d6154 1px solid;
    border-radius: 60px;
    background-color: #1d6154;
    margin: auto;
    margin-top: 38px;
    margin-bottom: 45px;
}
